body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.carousel-main {
    display: flex;
}

.carousel-container {
    width: 200px;
    height: 200px;
    background-color: grey;
    /* position: absolute; */
    overflow: hidden;
}

.slider {
    position: relative;
    display: flex;
    height: 100%;
    left: 0px;
    transform: translateX(50%);
}

img {
    height: 100%;
}

.carousel-button {
    height: auto;
    width: 100px;
    margin: 15% 0px;
}